## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: setup-dist
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Kicksecure/setup-dist
Vcs-Browser: https://github.com/Kicksecure/setup-dist
Vcs-Git: https://github.com/Kicksecure/setup-dist.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: setup-dist
Architecture: all
Depends: helper-scripts, dialog, privleap, menu, python3, ${misc:Depends}
Provides: whonixsetup
Replaces: whonixsetup
Conflicts: whonixsetup
Description: First Time Connection Setup
 Disclaimer.
 .
 When the derivative starts for the first time, it won't automatically connect
 to the public Tor network. This is useful for users who want to hide Tor from
 their ISP. setup-dist is automatically started, which educates about different
 methods to connect (public Tor network, bridges, etc.).
